<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Acme|Rajdhani" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo|Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Blinker|Saira+Semi+Condensed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Questrial|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/site.js"></script>
<link rel="stylesheet" href="~/css/site.css">

<section id="Nav">
    <nav class="navbar navbar-light" style="background-color:black">
        <a class="navbar-brand">
            <img src="~/images/RithvikLogo.png" style="width:50%" />
        </a>
    </nav>
</section>

<body>
    <div class="container-fluid" style="background: linear-gradient(to bottom, black 30%, white 0%); ">
        <br />
        <br />
        <h1 id="Header" class="text-center" style="color:white; font-family: 'Montserrat', sans-serif; font-size:35px;"><b>Entrepreneur, Software Developer & Student</b></h1>
        <p id="SubHeader" class="text-center mt-4" style="color:white; font-family:'Oswald', sans-serif; font-size:24px">Writing code to create a seamless design and product is what I strive to do</p>
        <br />
        <div id="AboutContainer" class="container" style=" background-color:red; position:relative; top:5%; border-radius:10px">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <br />
                    <img id="ProfileImage" class="mt-3" src="~/images/RithvikArun.jpeg" style="z-index:100; display:block; margin-left:auto; margin-right:auto; border-radius:10px" />
                    <h1 class="mt-5" style="font-family: 'Montserrat', sans-serif; font-size:30px; color:white"><b>Hey! It's Rithvik.</b></h1>
                    <p style="font-family:'Oswald', sans-serif; font-size:20px; color:white">
                        Welcome to the site, let me introduce myself. My name is Rithvik Arun and I'm a software engineering student at Arizona State Univeristy. I am originally from Las Vegas, Nevada, but now living in Phoneix, AZ to pursue a bachelors degree of science.
                        I have been developing software for 4+ years and have been enjoying every moment from the start. Problem solving is something I really enjoy doing and what better field to go into than computer science. From web apps to mobile applications to augmented reality, I have worked on different projects using all types of different technologies. Outside of programming I enjoy playing basketball, snowboarding, listening to music, and hanging out with friends and family.
                    </p>
                    <br />
                    <img class="rotate" src="~/images/Develop50.png" width="50" style="display:block; margin-right:auto; margin-left:auto" />
                    <h1 class="mt-5" style="font-family: 'Montserrat', sans-serif; font-size:30px; color:white"><b>Where I went to school?</b></h1>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-3 mb-3">
                            <div class="card" style="background-color:#00235D">
                                <div class="card-title">
                                    <br />
                                    <h1 class="text-center" style="font-family:'Oswald', sans-serif; color:white">Coronado High School</h1>
                                    <br />
                                    <div class="row">
                                        <div class="col-3"></div>
                                        <div class="col-6">
                                            <div class="card" style="background-color:#C6103C;">
                                                <div class="card-body text-center">
                                                    <h6 style="color:whitesmoke">High School Diploma - 3.7 GPA</h6>
                                                    <hr />
                                                    <h6 style="color:whitesmoke">Graduated 2018</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-6 col-md-12 col-sm-12 mt-3 mb-3">
                            <div class="card" style="background-color:#8C1D40">
                                <div class="card-title">
                                    <br />
                                    <h1 class="text-center" style="font-family:'Oswald', sans-serif; color:white">Arizona State Univeristy</h1>
                                    <br />
                                    <div class="row">
                                        <div class="col-3"></div>
                                        <div class="col-6">
                                            <div class="card" style="background-color:#FFC627;">
                                                <div class="card-body text-center">
                                                    <h6 style="color:whitesmoke">Bachelors Degree Of Science - 3.9 GPA</h6>
                                                    <hr />
                                                    <h6 style="color:whitesmoke">Graduating 2022</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background: linear-gradient(to bottom, white 80%, black 0%);">
        <div id="SkillsContainer" class="container">
            <div class="row">
                <div class="col-lg-12">
                    <br />
                    <br />
                    <h1 class="text-center" style="font-family: 'Montserrat', sans-serif; font-size:30px; color:black"><b>Development skills.</b></h1>
                    <p class="text-center mt-4" style="color:black; font-family:'Oswald', sans-serif; font-size:24px">Skills that I have obtained over the years</p>
                    <br />
                    <br />
                    <div class="card" style="border-radius:0px; border-top-left-radius:10px; border-top-right-radius:10px">
                        <div class="card-title">
                            <br />
                            <img src="~/images/WebNew.png" width="50" style="display:block; margin-left:auto; margin-right:auto" />
                            <br />
                            <h4 class="text-center m-2" style="font-family:'Oswald', sans-serif; font-size:30px; color:black"><b>Web/Mobile</b></h4>
                            <br />
                            <p class="m-2 text-center" style="font-family:'Nunito', sans-serif; font-size:18px">Over the past couple years I have learned many high level languages that have been very useful for the art of web and mobile application development. I have created multiple web applications, but now I am starting to venture into the world of mobile application development.</p>
                            <br />
                            <h5 class="text-center" style="font-family:'Oswald', sans-serif; color:red"><b>Concepts</b></h5>
                            <div class="text-center" style="font-family:'Nunito', sans-serif;">
                                <h6>Object Oreinted Programming</h6>
                                <h6>Data Structures</h6>
                                <h6>Algorithms</h6>
                                <h6>Frontend Development</h6>
                            </div>
                            <br />
                            <h5 class="text-center" style="font-family:'Oswald', sans-serif; color:red"><b>Languages</b></h5>
                            <p class="text-center" style="font-family:'Nunito', sans-serif">C#, C/C++, Java, HTML, CSS, JS, WPF</p>
                            <br />
                            <h5 class="text-center" style="font-family:'Oswald', sans-serif; color:red"><b>Enviorments</b></h5>
                            <p class="text-center" style="font-family:'Nunito', sans-serif">Xamarin Studio, .Net Framework</p>
                        </div>
                    </div>
                    <div class="card" style="border-radius:0px">
                        <div class="card-title">
                            <br />
                            <img src="~/images/ARNew.png" width="50" style="display:block; margin-left:auto; margin-right:auto" />
                            <br />
                            <h4 class="text-center m-2" style="font-family:'Oswald', sans-serif; font-size:30px; color:black"><b>Augmented Reality</b></h4>
                            <br />
                            <p class="m-2 text-center" style="font-family:'Nunito', sans-serif; font-size:18px">I have created multiple mobile applications all having AR as its main feature. I like the idea of using a phone camera to display information through AR to give users a unique and intuitve experience. Although there is alot of math and physics invloved the outcome is quite impressive.</p>
                            <br />
                            <h5 class="text-center" style="font-family:'Oswald', sans-serif; color:red"><b>Concepts</b></h5>
                            <div class="text-center" style="font-family:'Nunito', sans-serif;">
                                <h6>Object Oreinted Programming</h6>
                                <h6>3D-Objects</h6>
                                <h6>Positioning Algorithms</h6>
                                <h6>Image Tracking</h6>
                            </div>
                            <br />
                            <h5 class="text-center" style="font-family:'Oswald', sans-serif; color:red"><b>Languages</b></h5>
                            <p class="text-center" style="font-family:'Nunito', sans-serif">Swift</p>
                            <br />
                            <h5 class="text-center" style="font-family:'Oswald', sans-serif; color:red"><b>Enviorments</b></h5>
                            <p class="text-center" style="font-family:'Nunito', sans-serif">ARKit, Vision Framework</p>
                        </div>
                    </div>
                    <div class="card" style="border-radius:0px; border-bottom-left-radius:10px; border-bottom-right-radius:10px">
                        <div class="card-title">
                            <br />
                            <img src="~/images/DBNew.png" width="50" style="display:block; margin-left:auto; margin-right:auto" />
                            <br />
                            <h4 class="text-center m-2" style="font-family:'Oswald', sans-serif; font-size:30px; color:black"><b>Databases</b></h4>
                            <br />
                            <p class="m-2 text-center" style="font-family:'Nunito', sans-serif; font-size:18px">Usually when I'm working on a web or mobile application I have databases running on the server to store information so I can later go and retrieve them when needed. Updating rows and colums efficiently to save user information is vital for the applications stability.</p>
                            <br />
                            <h5 class="text-center" style="font-family:'Oswald', sans-serif; color:red"><b>Concepts</b></h5>
                            <div class="text-center" style="font-family:'Nunito', sans-serif;">
                                <h6>Writing Queries</h6>
                                <h6>Rows & Colums</h6>
                                <h6>Tables</h6>
                                <h6>Understanding Commands To Alter Tables</h6>
                            </div>
                            <br />
                            <h5 class="text-center" style="font-family:'Oswald', sans-serif; color:red"><b>Languages</b></h5>
                            <p class="text-center" style="font-family:'Nunito', sans-serif">SQL, Mongo</p>
                            <br />
                            <h5 class="text-center" style="font-family:'Oswald', sans-serif; color:red"><b>Enviorments</b></h5>
                            <p class="text-center" style="font-family:'Nunito', sans-serif">Azure Data Studio, Robo 3T</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background: linear-gradient(to bottom, black 80%, black 0%);">
        <br />
        <br />
        <br />
        <br />
        <div id="WorkContainer" class="container" style=" background-color:red; border-radius:10px">
            <br />
            <img id="WorkImage" width="300" class="mt-3" src="~/images/work.png" style="z-index:100; position:relative; display:block; margin-left:auto; margin-right:auto; border-radius:10px;" />
            <br />
            <h1 class="text-center" style="font-family: 'Montserrat', sans-serif; font-size:30px; color:white"><b>Let's see where I've worked.</b></h1>
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-12 mt-3 mb-3">
                    <div class="card" style="; background-color:#008080">
                        <div class="card-title">
                            <br />
                            <h1 class="text-center" style="font-family:'Oswald', sans-serif;color:white">StreamWork LLC</h1>
                            <br />
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <div class="card" style="background-color:black">
                                        <div class="card-body text-center">
                                            <h6 style="color:whitesmoke">Co-Founder & Software Developer</h6>
                                            <hr />
                                            <h6 style="color:whitesmoke">Aug 2018 - Present</h6>
                                            <hr />
                                            <h6 style="color:whitesmoke">Phoneix, AZ</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <br />
                            <p class="m-2 text-center" style="font-family:'Nunito', sans-serif; font-size:18px; color:white">StreamWork is an educational livestreaming startup that myself and a couple of freinds founded together. We have created a platform that enables students to connect with tutors and learn different subjects through livestreaming. Over the last year we have raised a significant amount of venture capital and even applied to select Silicon Valley incubators. Over the next few months we expect to grow and expand throughout Phoneix.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3 mb-3">
                    <div class="card" style=" background-color:orange">
                        <div class="card-title">
                            <br />
                            <h1 class="text-center" style="font-family:'Oswald', sans-serif;color:white">XUVI LLC</h1>
                            <br />
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <div class="card" style="background-color:black">
                                        <div class="card-body text-center">
                                            <h6 style="color:whitesmoke">Software Development Internship</h6>
                                            <hr />
                                            <h6 style="color:whitesmoke">Dec 2018 - Aug 2019</h6>
                                            <hr />
                                            <h6 style="color:whitesmoke">Las Vegas, NV</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <br />
                            <br />
                            <p class="m-2 text-center" style="font-family:'Nunito', sans-serif; font-size:18px; color:white">During this internship I was resposible for creating a mobile application with three other developers. The mobile application was a Xamarin Forms app that was used for the shipment industry. During the internship I had weekly meetings with the other developers, work extensivley on backend tasks, and make sure to test the app when changes were made by the other developers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background: linear-gradient(to bottom, black 80%, black 0%);">
        <div id="Projects" class="container">
            <br />
            <br />
            <h1 class="text-center" style="font-family: 'Montserrat', sans-serif; font-size:30px; color:white"><b>How about some projects.</b></h1>
            <p class="text-center mt-4" style="color:white; font-family:'Oswald', sans-serif; font-size:24px">Some of the projects that I have done over the last year</p>
            <br />
            <div class="row">
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="card bg-dark text-white zoom" style="border-radius:10px" onclick="Open('http://rithvikarun.com')">
                        <input type="image" src="~/images/RithviksWebsite.png" style="filter: blur(5px)" class="card-img">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Rithviks Website</h5>
                            <p class="card-text">Simple website that outlines myself as a developer. Used HTML, CSS, Bootstrap, JavaScript,and JQuery for development.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="card bg-dark zoom" style="border-radius:10px; color:black" onclick="Open('https://www.streamwork.live')">
                        <img src="~/images/StreamWork4.png" style="filter: blur(8px)" class="card-img">
                        <div class="card-img-overlay">
                            <h5 class="card-title">StreamWork</h5>
                            <p class="card-text">An live streaming platform that connects tutors and students for online tutoring. Used HTML, CSS, Bootstrap, JavaScript, C#, and SQL for development. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="card bg-dark zoom" style="border-radius:10px; color:white" onclick="Open('https://github.com/rarun321/ChromAR')">
                        <img src="~/images/ChromAR.png" style="filter: blur(5px)" class="card-img">
                        <div class="card-img-overlay">
                            <h5 class="card-title">ChromAR</h5>
                            <p class="card-text">A color matching application using AR for color blind people. Developed it with two other developers. Used Swift and ARKit for development. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="card bg-dark text-white zoom" style="border-radius:10px" onclick="Open('https://github.com/rarun321/IDAR')">
                        <img src="~/images/marks.jpg" height="200" style="filter: blur(5px)" class="card-img">
                        <div class="card-img-overlay">
                            <h5 class="card-title">mARks(IDAR)</h5>
                            <p class="card-text">A application that detects my school Id and outputs my grades in an AR enviorment. Used Swift, ARKit and Canvas API for development. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="card bg-dark zoom" style="border-radius:10px; color:black" onclick="Open('https://github.com/rarun321/Python')">
                        <img src="~/images/PyHouse.png" style="filter: blur(2px)" height="200" class="card-img">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Python</h5>
                            <p class="card-text">This was an application that estimates house prices using linear regression. Used Python and SQL for development.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-5">
                    <div class="card bg-dark zoom" style="border-radius:10px; color:white" onclick="Open('https://github.com/rarun321/BaseToBaseConverter')">
                        <img src="~/images/BaseToBase.png" height="200" style="filter: blur(5px)" class="card-img" alt="...">
                        <div class="card-img-overlay">
                            <h5 class="card-title">Base Converter</h5>
                            <p class="card-text">This was an application created to convert numbers to different bases. Used C for development.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background: linear-gradient(to bottom, black 40%, white 0%);">
        <div id="Contact" class="container">
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-12">
                    <div class="card" style="background-color:white; border-radius:10px">
                        <div class="card-title">
                            <br />
                            <img src="~/images/PhoneNew.png" width="100" style="display:block; margin-left:auto; margin-right:auto" />
                            <br />
                            <h1 class="mt-3 text-center" style="font-family: 'Montserrat', sans-serif; font-size:30px; color:black"><b>Looks like you've reached the end!</b></h1>
                            <h3 class="text-center mt-4" style="color:black; font-family:'Montserrat', sans-serif; font-size:24px">Need a website?</h3>
                            <p class="text-center mt-4" style="color:black; font-family:'Montserrat', sans-serif; font-size:24px">Let's talk I'll buy the coffee.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mt-3 mb-3">
                                <h5 class="text-center" style="font-family:'Oswald', sans-serif;color:white">Connect on LinkedIn!</h5>
                                <a class="fa fa-linkedin-square text-center" style="display:block; margin-left:auto; margin-right:auto; font-size:100px; color:lightblue" href="https://www.linkedin.com/in/rithvik-arun-b57850162"></a>
                            </div>
                            <div class="col-lg-4 mt-3 mb-3">
                                <h5 class="text-center" style="font-family:'Oswald', sans-serif;color:white">Shoot me an email!</h5>
                                <a class="fa fa-envelope text-center" style="display:block; margin-left:auto; margin-right:auto; font-size:100px; color:lightcoral" href="mailto:rithvikarun24@gmail.com"></a>
                            </div>
                            <div class="col-lg-4 mt-3 mb-3">
                                <h5 class="text-center" style="font-family:'Oswald', sans-serif;color:white">Check out my GitHub for more projects!</h5>
                                <a class="fa fa-github text-center" style="display:block; margin-left:auto; margin-right:auto; font-size:100px; color: mediumpurple" href="https://github.com/rarun321"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</body>
