<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Acme|Rajdhani" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo|Roboto" rel="stylesheet">
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">

        <button class="navbar-toggler" type="button" data-toggle="collapse"  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" id="nav">
            <span class="navbar-toggler-icon text-center"></span>
        </button>
       
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto text-center ">


                    <li class="nav-item col-5 " style="font-size:50px;">
                        <a class="nav-link" href="#About" style="color:orange; font-family: 'Rajdhani', sans-serif">About</a>
                    </li>
                    <li class="nav-item col-5 " style="font-size:50px;">
                        <a class="nav-link" href="#Skill" style="color:dodgerblue; font-family: 'Rajdhani', sans-serif;">Skills</a>
                    </li>

                    <li class="nav-item col-5" style="font-size:50px;">
                        <a class="nav-link" href="#Projects" style="color:forestgreen;font-family: 'Rajdhani', sans-serif;">Projects</a>
                    </li>
                    <li class="nav-item col-5 " style="font-size:50px; ">
                        <a class="nav-link" href="#Contact" style="color:red; font-family: 'Rajdhani', sans-serif;">Contact</a>
                    </li>



                </ul>

            </div>
     
    </nav>
    <br />
    <br />
   

    <section id="About">
        <div class="container ">
            <div class="row mt-5">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 col-sm-12">
                    <div class="card bg-dark" style="color:white">
                        <div class="row justify-content-center align-self-center">

                            <a id="About" class="nav-link text-center" href="#" style="color:black; font-family: 'Rajdhani', sans-serif; font-size:100px; color:white">Rithvik Arun<br /><p style="font-size:25px">Software Developer/ Programmer</p></a>
                        </div>

                        <div class="row justify-content-center align-self-center">

                            <di class="card" style="width: 15rem;">
                                <img src="~/images/Rithvik10.jpeg" />
                            </di>
                        </div>
                        <div class="card-body">
                            <p>
                                Hey, looks like you've come across my website! Let me introduce myself.
                                My name is Rithvik Arun and I am student at the Ira A. Fulton Schools at Arizona State University.
                                I am majoring in software engineering and I will be graduating with a bachelors degree in the year 2022.
                                As you can tell by the title I am programmer. I have been writing software since freshman year of high school
                                and have loved doing it ever since.  I have participated in multiple hackathons and part of ASU's coding club called the NerdHerd. I also was a varisty basketball player in high school.
                                <br />
                                Alright well, that's enough about me, feel free to go around and check out my skills and projects and if you have any questions or need
                                help creating a website for a small organization or company, feel free to hit me up!.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="row" id="Skill">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 col-sm-12">

                    <div class="card bg-secondary    ">
                        <div class="card-title text-center">
                            <h1 id="Skill" style="font-family: 'Rajdhani', sans-serif; font-size:75px; color:dodgerblue">Skills</h1>
                            <hr />
                        </div>
                        <div class="card-body text-center">
                            <h6 style="font-family: 'Orbitron', sans-serif;color:black ">Click to get my skill percentage and a fun fact!</h6>
                            <br />
                            <br />
                            <h5 style="font-family: 'Orbitron', sans-serif;color:black ">General Programming</h5>

                            <div class="row justify-content-around align-self-auto">

                                <div id="Java" class="flip-card mt-5 ">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front" style="background-color:cornflowerblue">
                                            <h1 id="Java" class="mt-4" style="font-family: 'Rajdhani', sans-serif;">Java<br /></h1>
                                        </div>

                                        <div class="flip-card-back" style="background-color:cornflowerblue;">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div id="know" class="know text-center" style="width:0%; background-color:#CCCC00">
                                                        <p id="javaP" class="ml-3 pt-3" style="font-family:'Roboto', sans-serif;">NetBeans is my favorite IDE to write some Java code!</p>
                                                    </div>
                                                </div>
                                                <div class="col-1">

                                                    <h2 class="float-right mt-4 pr-lg-3" style="font-family: 'Orbitron', sans-serif; " id="javaKnow">80%</h2>

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-around align-self-auto">
                                <div class="flip-card mt-5" id="CSharp">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front " style="background-color:mediumpurple">
                                            <h1 class="mt-4" style="font-family: 'Rajdhani', sans-serif;">C#</h1>
                                        </div>
                                        <div class="flip-card-back" style="background-color:mediumpurple;">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div id="knowCSharp" class="know text-center" style="width:0%; background-color:orange">
                                                        <p id="CSharpP" class="ml-4 pt-3" style="font-family:'Roboto', sans-serif;">The product at the startup that I am working at is written entirley in C#!</p>
                                                    </div>
                                                </div>
                                                <div class="col-1">

                                                    <h2 id="CSharpKnow" class="float-right mt-4 pr-lg-3" style="font-family: 'Orbitron', sans-serif; ">80%</h2>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-around align-self-auto">
                                <div class="flip-card mt-5" id="Python">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front" style="background-color:forestgreen">
                                            <h1 class="mt-4" style="font-family: 'Rajdhani', sans-serif;">Python</h1>
                                        </div>
                                        <div class="flip-card-back" style="background-color:forestgreen">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div id="knowP" class="know text-center" style="width:0%; background-color:red">
                                                        <p id="PythonP" class="ml-4 pt-3" style="font-family:'Roboto', sans-serif;">Python is my favorite language to write code in at the moment!</p>
                                                    </div>
                                                </div>
                                                <div class="col-1">

                                                    <h2 id="PythonKnow" class="float-right mt-4 pr-4" style="font-family: 'Orbitron', sans-serif; ">75%</h2>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <h5 style="font-family: 'Orbitron', sans-serif; color:black">Web Development</h5>
                            <div class="row justify-content-around align-self-auto">
                                <div class="flip-card mt-5 " id="HTML">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front" style=" background-color:orange">
                                            <h1 class="mt-4" style="font-family: 'Rajdhani', sans-serif;">HTML</h1>
                                        </div>
                                        <div class="flip-card-back" style="background-color:orange	">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div id="knowHTML" class="know text-center" style="width:0%; background-color:mediumpurple">
                                                        <p id="HTMLP" class="ml-4 pt-4" style="font-family:'Roboto', sans-serif;">HTML is my go to script language for writing websites! </p>
                                                    </div>
                                                </div>
                                                <div class="col-1">

                                                    <h2 id="HTMLKnow" class="float-right mt-4 pr-lg-3" style=" font-family:'Orbitron', sans-serif; ">80%</h2>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-around align-self-auto">
                                <div class="flip-card mt-5" id="CSS">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front" style=" background-color:red">
                                            <h1 class="mt-4" style="font-family: 'Rajdhani', sans-serif;">CSS</h1>

                                        </div>
                                        <div class="flip-card-back" style="background-color:red	">

                                            <div class="row">
                                                <div class="col-11">
                                                    <div id="knowCSS" class="know text-center" style="width:0%; background-color:forestgreen">
                                                        <p id="CSSP" class="ml-4 pt-4" style="font-family:'Roboto', sans-serif;">Bootstrap is the framework that I use the most but CSS is cool too!</p>
                                                    </div>
                                                </div>
                                                <div class="col-1">

                                                    <h2 id="CSSKnow" class="float-right mt-4 pr-lg-3" style=" font-family:'Orbitron', sans-serif; ">80%</h2>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-around align-self-auto">
                                <div class="flip-card mt-5" id="JavaScript">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front" style="background-color:#CCCC00">
                                            <h1 class="mt-4" style="font-family: 'Rajdhani', sans-serif;">JavaScript</h1>

                                        </div>
                                        <div class="flip-card-back" style="background-color:#CCCC00	">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div id="knowJS" class="know text-center" style="width:0%; background-color:dodgerblue">
                                                        <p id="JSP" class="ml-4 pt-4" style="font-family:'Roboto', sans-serif;">JavaScript is the first language that I ever learned!</p>
                                                    </div>
                                                </div>
                                                <div class="col-1">

                                                    <h2 id="JSKnow" class="float-right mt-4 pr-lg-3" style=" font-size: 30px; font-family:'Orbitron', sans-serif; ">80%</h2>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h5 style="font-family: 'Orbitron', sans-serif; color:black">Database</h5>
                            <div class="row justify-content-around align-self-auto">
                                <div class="flip-card mt-5" id="SQL">
                                    <div class="flip-card-inner">
                                        <div class="flip-card-front" style="background-color: black">
                                            <h1 class="mt-4" style="font-family: 'Rajdhani', sans-serif;">SQL</h1>

                                        </div>
                                        <div class="flip-card-back" style="background-color:black	">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div id="knowSQL" class="know text-center" style="width:0%; background-color:grey">
                                                        <p id="SQLP" class="ml-4 pt-4" style="font-family:'Roboto', sans-serif;">Database languages are always tons of fun!</p>
                                                    </div>
                                                </div>
                                                <div class="col-1">

                                                    <h2 id="SQLKnow" class="float-right mt-4 pr-4" style=" font-size: 30px; font-family:'Orbitron', sans-serif; ">75%</h2>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="row" id="Projects">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10 col-sm-12">
                    <div class=" card text-center bg-dark">
                        <div class="card-title">
                            <h1 id="Projects" style="font-family: 'Rajdhani', sans-serif; font-size:75px; color:forestgreen">Projects</h1>
                            <hr />
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <div class="card m-3 bg-secondary box-shadow " style="color:white">
                                        <div class="card-title text-center ">
                                            <h1 style="font-family: 'Orbitron', sans-serif">Black Jack</h1>
                                        </div>
                                        <div class="card-body text-center" style="font-family:'Roboto', sans-serif;">
                                            <p>Made entirley in Java, Blackjack is a multiplayer card game that allows players to play blackjack through Java sockets. This game inclued automated dealer as well as chips for placing bets.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="card m-3 bg-danger" style="color:white">
                                        <div class="card-title text-center">
                                            <h1 style="font-family: 'Orbitron', sans-serif">Battle Ship</h1>
                                        </div>
                                        <div class="card-body text-center" style="font-family:'Roboto', sans-serif;">
                                            <p>Another fun Java project that allowed two players to play the classic game of battleship through Java sockets. Players could place ships by selecting tile on the game board. The game was not developed using real game sprites</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="card m-3 bg-info" style="color:white">
                                        <div class="card-title text-center">
                                            <h1 style="font-family: 'Orbitron', sans-serif">PyHouse</h1>
                                        </div>
                                        <div class="card-body text-center" style="font-family:'Roboto', sans-serif;">
                                            <p>Created in python, this program was made to predict house prices based on square feet from user inputed data. A linear regression model was used to complete this program. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="card m-3 bg-primary" style="color:white">
                                        <div class="card-title text-center">
                                            <h1 style="font-family: 'Orbitron', sans-serif">Rithvik's Website</h1>
                                        </div>
                                        <div class="card-body text-center" style="font-family:'Roboto', sans-serif;">
                                            <p>This website was created using ASP.Net Core from Visual Studio. Using HTML,CSS,Bootstrap for design and Javascript and JQuery for animations and effects. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="card m-3 bg-success" style="color:white">
                                        <div class="card-title text-center">
                                            <h1 style="font-family: 'Orbitron', sans-serif">Stream Work</h1>
                                        </div>
                                        <div class="card-body text-center" style="font-family:'Roboto', sans-serif;">
                                            <p>This is an ongoing project that focuses on educational livestreaming. It's front end is made with HTML,CSS,Bootstrap, JQuery and it's backend is implemeted with C# and SQL.  </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="card m-3 bg-warning" style="color:white">
                                        <div class="card-title text-center">
                                            <h1 style="font-family: 'Orbitron', sans-serif">SQLCereal</h1>
                                        </div>
                                        <div class="card-body text-center" style="font-family:'Roboto', sans-serif;">
                                            <p>This is an ongoing projects that stores a user's favorite cereal into a database and then outputs more cereals based on thier favorite type. It is written in Python and SQL. </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <h3 class="text-center" style="font-family:'Rajdhani', sans-serif; color:forestgreen">Check out more projects at my GitHub page down below!</h3>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="row" id="Contact">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-10 col-sm-12">
                    <div class="card text-center bg-secondary">
                        <div class="card-title">
                            <h1 id="Contact" style="font-family: 'Rajdhani', sans-serif; font-size:75px; color:white ">Contact</h1>
                            <hr />
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8 col-sm-12">
                                    <div class="card m-3 bg-dark" style="color:white">
                                        <div class="card-title text-center">
                                            <h1 style="font-family: 'Orbitron', sans-serif"></h1>
                                        </div>
                                        <div class="card-body text-center" style="font-family:'Roboto', sans-serif;">
                                            <p>I do develop websites for people who are in need of them, and if you are a company or organization that needs a website or just a regular person who wants to get your name out there, feel free to shoot me an email! Also my Github and LinkedIn are down below! </p>
                                            <h1>Email:</h1>
                                            <p>rarun@asu.edu</p>
                                            <i class="fa fa-github mr-lg-5" style="font-size:100px;color:#6e5494" onclick="go()"></i>

                                            <i class="fa fa-linkedin-square" style="font-size:100px;color:#0077B5" onclick="go2()"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </section>
</body>
<script>
    $("#Java").click(function () {
        $(this).toggleClass("flipped");

    });
    $("#CSharp").click(function () {
        $(this).toggleClass("flipped");
    });
    $("#Python").click(function () {
        $(this).toggleClass("flipped");
    });
    $("#HTML").click(function () {
        $(this).toggleClass("flipped");
    });
    $("#CSS").click(function () {
        $(this).toggleClass("flipped");
    });
    $("#JavaScript").click(function () {
        $(this).toggleClass("flipped");
    });
    $("#SQL").click(function () {
        $(this).toggleClass("flipped");
    });
    var a = 0;
    $("#Java").click(function () {

        if (a == 0) {

            $("#javaKnow").hide();
            $("#javaP").hide();

        }

        $("#know").animate({
            width: "80%"

        }, {
                duration: 1500,
                specialEasing: {
                    width: 'linear'
                }
            });

        $("#javaKnow").delay(800).fadeIn(3000);
        $("#javaP").delay(800).fadeIn(3500);

        a++;
    });

    var b = 0;

    $("#CSharp").click(function () {
        if (b == 0) {
            $("#CSharpKnow").hide();
            $("#CSharpP").hide();

        }

        $("#knowCSharp").animate({
            width: "80%"

        }, {
                duration: 1500,
                specialEasing: {
                    width: 'linear'

                }


            });
        $("#CSharpKnow").delay(700).fadeIn(3000);
        $("#CSharpP").delay(700).fadeIn(3500);

        b++
    });
    var c = 0;
    $("#Python").click(function () {
        if (c == 0) {
            $("#PythonKnow").hide();
            $("#PythonP").hide();

        }
        $("#knowP").animate({
            width: "75%"
        }, {
                duration: 1500,
                specialEasing: {
                    width: 'linear'

                }


            });
        $("#PythonKnow").delay(600).fadeIn(3000);
        $("#PythonP").delay(600).fadeIn(3000);
        c++;

    });
    var d = 0
    $("#HTML").click(function () {
        if (d == 0) {
            $("#HTMLKnow").hide();
            $("#HTMLP").hide();

        }
        $("#knowHTML").animate({
            width: "80%"
        }, {
                duration: 1500,
                specialEasing: {
                    width: 'linear'

                }


            });
        $("#HTMLKnow").delay(600).fadeIn(3000);
        $("#HTMLP").delay(600).fadeIn(3000);
        d++;

    });
    var e = 0
    $("#CSS").click(function () {
        if (e == 0) {
            $("#CSSKnow").hide();
            $("#CSSP").hide();

        }
        $("#knowCSS").animate({
            width: "80%"
        }, {
                duration: 1500,
                specialEasing: {
                    width: 'linear'

                }


            });
        $("#CSSKnow").delay(800).fadeIn(3000);
        $("#CSSP").delay(800).fadeIn(3500);
        e++;

    });
    var f = 0;
    $("#JavaScript").click(function () {
        if (f == 0) {
            $("#JSKnow").hide();
            $("#JSP").hide();

        }
        $("#knowJS").animate({
            width: "80%"
        }, {
                duration: 1500,
                specialEasing: {
                    width: 'linear'

                }


            });
        $("#JSKnow").delay(800).fadeIn(3000);
        $("#JSP").delay(800).fadeIn(3500);
        f++;

    });
    var g = 0;
    $("#SQL").click(function () {
        if (g == 0) {
            $("#SQLKnow").hide();
            $("#SQLP").hide();

        }
        $("#knowSQL").animate({
            width: "75%"
        }, {
                duration: 1500,
                specialEasing: {
                    width: 'linear'

                }


            });
        $("#SQLKnow").delay(800).fadeIn(3000);
        $("#SQLP").delay(800).fadeIn(3500);
        g++;

    });

   
        
    $("a[href^='#About']").click(function (e) {
        e.preventDefault();

        var position = $($(this).attr("href")).offset().top;

        $("body, html").animate({
            scrollTop: position
        } /* speed */);
    });

    $("a[href^='#Skill']").click(function (e) {
        e.preventDefault();

        var position = $($(this).attr("href")).offset().top;

        $("body, html").animate({
            scrollTop: position
        } /* speed */);
    });

    $("a[href^='#Projects']").click(function (e) {
        e.preventDefault();

        var position = $($(this).attr("href")).offset().top;

        $("body, html").animate({
            scrollTop: position
        } /* speed */);
    });

    $("a[href^='#Contact']").click(function (e) {
        e.preventDefault();

        var position = $($(this).attr("href")).offset().top;

        $("body, html").animate({
            scrollTop: position
        } /* speed */);
    });

    $(document).ready(function () {
        $("#nav").click(function () {

            $("#navbarText").slideToggle();
        });

    });


    function go() {
        window.location.href = "https://github.com/rarun321";
    }
    function go2() {
        window.location.href = "https://www.linkedin.com/in/rithvik-arun-b57850162/"

    }

</script>
