<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Acme|Rajdhani" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo|Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Blinker&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Blinker|Saira+Semi+Condensed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Questrial|Yanone+Kaffeesatz&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/site.js"></script>
<link rel="stylesheet" href="~/css/site.css">

<section id="Nav">
    <nav class="navbar navbar-light" style="background-color:black">
        <a class="navbar-brand">
            <img src="~/images/RithvikLogo.png" style="width:50%" />
        </a>
    </nav>
</section>

<body>
    <section id="Home">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="background-color:black; min-height:1000px">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h1 id="PasswordPhrase" class="text-center" style="color:white; font-family:'Saira Semi Condensed', sans-serif; font-size:75px;">password:</h1>
                    <h2 id="Password" class="text-center" style="color:white; font-family:'Saira Semi Condensed', sans-serif; font-size:75px;"></h2>
                    <img id="Logo" class="mt-3" src="~/images/RithvikLogo.png" style="display:block; margin-left:auto; margin-right:auto" />
                    <h1 id="Name" class="text-center" style="color:white; font-family:'Saira Semi Condensed', sans-serif; font-size:100px;"><b>Rithvik Arun</b></h1>
                    <img id="ProfileImage" class="mt-3" src="~/images/RithvikArun.jpeg" style="display:block; margin-left:auto; margin-right:auto" />
                    <h3 id="SoftwareDeveloper" class="text-center mt-4" style="color:white; font-family:'Saira Semi Condensed', sans-serif; font-size:32px">Software Developer</h3>
                </div>
            </div>
        </div>
    </section>

    <section id="Intro">
        <div class="container-fluid" style="min-height:750px; background-color:black">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12"></div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="card-title text-center mt-3" style="font-family: 'Orbitron', sans-serif; color: #b87333; font-size: 25px">About</div>
                    <div class="card" style="background-color:#b87333">

                    </div>
                    <br />
                    <div class="card" style="background-color:black">
                        <p class="text-center mt-4" style="font-family: 'Montserrat', sans-serif; font-size:28px; color:white">Hey guys, it's Rithvik and welcome to my website! This is just a simple website that I created to highlight some things about me as a developer. I started programming my sophomore year of high school and have been developing ever since. I have created many projects using all different types of technology and can't wait to learn about new and improving ones. Outside of developing I enjoy playing basketball, playing video games and snowboarding. I also enjoy listening to music and hanging out with freinds and family. </p>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="card-title text-center mt-3" style="font-family: 'Orbitron', sans-serif; color: #ffd700; font-size: 25px">Work/Skills</div>

                    <div class="card" style="background-color:#ffd700">

                    </div>
                    <br />
                    <br />
                </div>

            </div>
        </div>
    </section>

    <section id="About">
        <div class="container-fluid" style="background-color:black; min-height:550px">
            <div class="row">
                <div class="col-lg-1 col-md-12 col-sm-12"></div>
                <div class="col-lg-5 col-md-12 col-sm-12">

                    <div class="card m-2" style="background-color: #8C1D40;">
                        <div class="card-title text-center mt-3" style="font-family: 'Orbitron', sans-serif; color: white; font-size: 25px">Education</div>
                        <img class="card-img-top" src="~/images/Education2.png">
                        <div class="card-body">
                            <br />
                            <h4 class="text-center" style="color:white"><b>Arizona State University</b></h4>
                            <p class="text-center" style="color:white">
                                Bachelors degree in software engineering <br />
                                2018-2022
                            </p>
                            <br />
                            <h4 class="text-center" style="color:white"><b>Coronado High School</b></h4>
                            <p class="text-center" style="color:white">
                                High school diploma <br />
                                2014-2018
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div class="card m-2" style="background-color: #FFC627;">
                        <div class="card-title text-center mt-3" style="font-family: 'Orbitron', sans-serif; color: white; font-size: 25px">Work Experience</div>
                        <img class="card-img-top" src="~/images/Work.png">
                        <div class="card-body">
                            <br />
                            <h4 class="text-center" style="color:white"><b>XUVI LLC</b></h4>
                            <p class="text-center" style="color:white">
                                Software Development Internship<br />
                                Dec 2018 - July 2019
                            </p>
                            <br />
                            <h4 class="text-center" style="color:white"><b>StreamWork LLC</b></h4>
                            <p class="text-center" style="color:white">
                                Software Developer and Co-Founder <br />
                                Aug 2018 - Present
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-12 col-sm-12"></div>
            </div>
        </div>
    </section>
    <section id="Technologies">
        <div class="container-fluid" style="background-color:lightgray; min-height:500px">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12" style="background-color: #F16A70">
                    <br />
                    <br />
                    <br />
                    <div class="card m-2" style="background-color:  #F16A70; border:none">
                        <div class="card-title">
                            <h1 class="mt-4 ml-4" style="font-family: 'Oswald', sans-serif;color:white; font-size:50px"><b>Web</b></h1>
                        </div>
                        <div class="card-body">
                            <img src="~/images/WebNew.png" style="width:25%; display:block; margin-left:auto; margin-right:auto" />
                        </div>
                        <div class="card" style="background-color:transparent; border:none">
                            <div class="card-body">
                                <p class="text-center mt-4" style="font-family: 'Montserrat', sans-serif; font-size:20px">I have experience in developing websites such as this one. Some of the technoogies I use include HTML, CSS, JavaScript, JQuery and Bootstrap. I have used notepad++ and ASP.Net Core as IDE's to develop websites </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-12 col-sm-12" style="background-color:#B1D877">
                    <br />
                    <br />
                    <br />
                    <div class="card m-2" style="background-color: #B1D877; border:none">
                        <div class="card-title">
                            <h1 class="mt-4 ml-4" style="font-family: 'Oswald', sans-serif;color:white; font-size:50px"><b>Mobile</b></h1>
                        </div>
                        <div class="card-body">
                            <img src="~/images/PhoneNew.png" style="width:25%; display:block; margin-left:auto; margin-right:auto" />

                        </div>
                        <div class="card" style="background-color:transparent; border:none">
                            <div class="card-body">
                                <p class="text-center mt-4" style="font-family: 'Montserrat', sans-serif; font-size: 20px">So far I have only devloped mobile applications using Xamarin Forms (for cross-platform) and XCode. Some of the technologies I use include C#, Java, WPF, XAML and Swift </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-12 col-sm-12" style="background-color:#8CDCDA">
                    <br />
                    <br />
                    <br />
                    <div class="card m-2" style="background-color: #8CDCDA; border:none">
                        <div class="card-title">
                            <h1 class="mt-4 ml-4" style="font-family: 'Oswald', sans-serif;color:white; font-size:50px"><b>AR</b></h1>
                        </div>
                        <div class="card-body">
                            <img src="~/images/ARNew.png" style="width:25%; display:block; margin-left:auto; margin-right:auto" />

                        </div>
                        <div class="card" style="background-color:transparent; border:none">
                            <div class="card-body">
                                <p class="text-center mt-4" style="font-family: 'Montserrat', sans-serif; font-size: 20px">I recentley started creating augmented reality applications. So far I have made only a couple applications but it is something that I am very intrested in. Some of the technologies I use are Swift, Vision and ARKit</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-12 col-sm-12" style="background-color:#4D4D4D">
                    <br />
                    <br />
                    <br />
                    <div class="card m-2" style="background-color: #4D4D4D; border:none">
                        <div class="card-title">
                            <h1 class="mt-4 ml-4" style="font-family: 'Oswald', sans-serif;color:white; font-size:50px"><b>Databases</b></h1>
                        </div>
                        <div class="card-body">
                            <img src="~/images/DBNew.png" style="width:25%; display:block; margin-left:auto; margin-right:auto" />
                        </div>

                    </div>
                    <div class="card" style="background-color:transparent; border:none">
                        <div class="card-body">
                            <p class="text-center mt-4" style="font-family: 'Montserrat', sans-serif; font-size: 20px">Usually when I'm working on a project I have databses running to store information so I can later go and retreive them when needed. Some of the technologies I use include SQL and Mongo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Projects">
        <div class="container-fluid" style="background-color:white; min-height:1000px">
            <h1 class="mt-4 ml-4 text-center" style="font-family: 'Orbitron', sans-serif; color: black; font-size: 25px">Working on at the moment</h1>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12" style="background-color:white">
                    <br />
                    <br />
                    <br />
                    <div class="card m-2" style="background-color: white; border:none">
                        <div class="card-title">
                            <h1 class="mt-4 ml-4" style="font-family: 'Oswald', sans-serif;color:black; font-size:50px"><b>Emto</b></h1>
                        </div>
                        <div class="card-body">
                            <img src="~/images/Phone.png" style="width:25%; display:block; margin-left:auto; margin-right:auto" />
                            <p class="text-center mt-4" style="font-family:'Roboto', sans-serif">Emto is a project that myself and three others have been working on for the past six months. Emto is a mobile application that facilitates consignment and trucking realtions to optimize pickup and delivery.</p>
                        </div>
                        <div id="EmtoDot" class="dot" style="background-color:hotpink">
                            <div id="EmtoDotInner" class="dot-inner">
                                <div class="dot-front">
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="text-center mt-2" ; style="color: white; font-family: 'Righteous', cursive">Xamarin Forms</h3>
                                    <h3 class="text-center mt-2" ; style="color:white; font-family:'Righteous', cursive">WPF</h3>
                                    <h3 class="text-center mt-2" ; style="color: white; font-family:'Righteous', cursive">XAML</h3>
                                    <h3 class="text-center mt-2" ; style="color: white; font-family:'Righteous', cursive">C#</h3>
                                    <h3 class="text-center mt-2" ; style="color: white; font-family: 'Righteous', cursive">Mongo</h3>
                                </div>
                                <div class="dot-back">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <br />
                    <br />
                    <br />
                    <div class="card m-2" style="background-color:transparent; border:none">
                        <div class="card-title">
                            <h1 class="mt-4 ml-4" style="font-family: 'Oswald', sans-serif;color:black; font-size:50px">StreamWork</h1>
                        </div>
                        <div class="card-body">
                            <img src="~/images/Website.png" style="width:25%; display:block; margin-left:auto; margin-right:auto" />
                            <p class="text-center mt-4" style="font-family:'Roboto', sans-serif">StreamWork is a project that myself and two others have been working on for the past year. StreamWork is a education live-streaming platform that connects tutors and students through online streaming</p>
                        </div>
                        <div id="StreamWorkDot" class="dot" style="background-color:#008080">
                            <div id="StreamWorkDotInner" class="dot-inner">
                                <div class="dot-front">
                                    <br />
                                    <h3 class="text-center mt-2" ; style="color:white; font-family:'Righteous', cursive">HTML</h3>
                                    <h3 class="text-center mt-2" ; style="color: white; font-family:'Righteous', cursive">CSS</h3>
                                    <h3 class="text-center mt-2" ; style="color:white; font-family:'Righteous', cursive">JavaScript</h3>
                                    <h3 class="text-center mt-2" ; style="color: white; font-family:'Righteous', cursive">JQuery</h3>
                                    <h3 class="text-center mt-2" ; style="color: white; font-family:'Righteous', cursive">C#</h3>
                                    <h3 class="text-center mt-2" ; style="color: white; font-family: 'Righteous', cursive">SQL</h3>
                                </div>
                                <div class="dot-back">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12" style="background-color:white">
                    <br />
                    <br />
                    <br />
                    <div class="card m-2" style="background-color: white; border:none">
                        <div class="card-title">
                            <h1 class="mt-4 ml-4" style="font-family: 'Oswald', sans-serif;color:black; font-size:50px">mARks</h1>
                        </div>
                        <div class="card-body">
                            <img src="~/images/AR.png" style="width:25%; display:block; margin-left:auto; margin-right:auto" />
                            <p class="text-center mt-4" style="font-family:'Roboto', sans-serif">mARks is a project that I have been working on for the past month. mARks is a mobile application that scans an ASU affliated id and outputs the users grades and upcoming assignments in an augmented enviorment. </p>
                        </div>
                        <div id="ARBotDot" class="dot" style="background-color:#4068D5">
                            <div id="ARBotDotInner" class="dot-inner">
                                <div class="dot-front">
                                    <br />
                                    <br />
                                    <br />
                                    <h3 class="text-center mt-2" ; style="color:white; font-family:'Righteous', cursive">Swift</h3>
                                    <h3 class="text-center mt-2" ; style="color: white; font-family:'Righteous', cursive">Vision</h3>
                                    <h3 class="text-center mt-2" ; style="color: white; font-family:'Righteous', cursive">ARKit</h3>
                                </div>
                                <div class="dot-back">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <hr />

        </div>
    </section>
    <section id="PersonalContact">
        <div class="section">
            <div class="container-fluid" style="background-color:black; min-height:300px">
                <div class="row">
                    <div class="col-lg-3 col-md-3">

                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <br />
                        <br />
                        <br />
                        <br />
                        <a class="fa fa-linkedin-square text-center" style="display:block; margin-left:auto; margin-right:auto; font-size:100px; color:#0077B5" href="https://www.linkedin.com/in/rithvik-arun-b57850162"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <br />
                        <br />
                        <br />
                        <img id="Logo" class="mt-3" src="~/images/RithvikLogo.png" style="display:block; margin-left:auto; margin-right:auto" />
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                        <br />
                        <br />
                        <br />
                        <br />
                        <a class="fa fa-github text-center" style="display:block; margin-left:auto; margin-right:auto; font-size:100px; color: #6e5494" href="https://github.com/rarun321"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>