<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Acme|Rajdhani" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-center"></span>
    </button>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto text-center">
         
                <li class="nav-item col-5" style="font-size:50px;">
                    <a class="nav-link" href="#" style="color:orange; font-family: 'Rajdhani', sans-serif;">About</a>
                </li>
                <li class="nav-item col-5 " style="font-size:50px;">
                    <a class="nav-link" href="#" style="color:dodgerblue; font-family: 'Rajdhani', sans-serif;">Skills</a>
                </li>

                <li class="nav-item col-5" style="font-size:50px;">
                    <a class="nav-link" href="#" style="color:forestgreen;font-family: 'Rajdhani', sans-serif;">Projects</a>
                </li> 
                <li class="nav-item col-5 " style="font-size:50px; ">
                    <a class="nav-link" href="#" style="color:red; font-family: 'Rajdhani', sans-serif;">Contact</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<br />
<br />

<section>
    <div class="container ">
        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="card bg-dark" style="color:white">
                    <div class="row justify-content-center align-self-center">

                        <a class="nav-link text-center" href="#" style="color:black; font-family: 'Rajdhani', sans-serif; font-size:100px; color:white">Rithvik Arun<br /><p style="font-size:25px">Software Developer/ Programmer</p></a>
                    </div>

                    <div class="row justify-content-center align-self-center">

                        <div class="card" style="width: 15rem;">
                            <img src="~/images/Rithvik10.jpeg" />
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            Hey, looks like you've come across my website! Let me introduce myself.
                            My name is Rithvik Arun and I am student at the Ira A. Fulton Schools at Arizona State University.
                            I am majoring in software engineering and I will be graduating with a bachelors degree in the year 2022.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="col-10">

                <div class="card bg-secondary    " >
                    <div class="card-title text-center">
                        <h1 style="font-family: 'Rajdhani', sans-serif; font-size:75px; color:dodgerblue">Skills</h1>
                        <hr />
                    </div>
                    <div class="card-body text-center">

                        <h5 style="font-family: 'Orbitron', sans-serif;color:dodgerblue ">General Programming</h5>

                        <div class="row justify-content-around align-self-auto">

                            <div id="Java" class="flip-card mt-5 ">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front" style="background-color:cornflowerblue">
                                        <h1 id="Java" class="mt-2" style="font-family: 'Rajdhani', sans-serif;">Java<br /></h1>
                                        <h4 style="font-family: 'Rajdhani'">Advanced</h4>
                                    </div>
                                    <div class="flip-card-back" style="background-color:cornflowerblue">
                                        <p class="text-center">


                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around align-self-auto">
                            <div class="flip-card mt-5" id="CSharp">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front " style="background-color:mediumpurple">
                                        <h1 class="mt-2" style="font-family: 'Rajdhani', sans-serif;">C#</h1>
                                        <h4 style="font-family: 'Rajdhani'">Advanced</h4>
                                    </div>
                                    <div class="flip-card-back" style="background-color:mediumpurple">

                                        <p>C# is another high level language that happen</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around align-self-auto">
                            <div class="flip-card mt-5" id="Python">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front" style="background-color:forestgreen">
                                        <h1 class="mt-2" style="font-family: 'Rajdhani', sans-serif;">Python</h1>
                                        <h4 style="font-family: 'Rajdhani'">Advanced</h4>
                                    </div>
                                    <div class="flip-card-back" style="background-color:forestgreen">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <h5 style="font-family: 'Orbitron', sans-serif; color:dodgerblue">Web Development</h5>
                        <div class="row justify-content-around align-self-auto">
                            <div class="flip-card mt-5 " id="HTML">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front" style=" background-color:orange">
                                        <h1 class="mt-2" style="font-family: 'Rajdhani', sans-serif;">HTML</h1>
                                        <h4 style="font-family: 'Rajdhani'">Advanced</h4>
                                    </div>
                                    <div class="flip-card-back" style="background-color:orange	">
                                        <h5 class="text-center" style="font-family: 'Rajdhani', sans-serif;">Advanced</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around align-self-auto">
                            <div class="flip-card mt-5" id="CSS">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front" style=" background-color:red">
                                        <h1 class="mt-2" style="font-family: 'Rajdhani', sans-serif;">CSS</h1>
                                        <h4 style="font-family: 'Rajdhani'">Advanced</h4>
                                    </div>
                                    <div class="flip-card-back" style="background-color:red	">
                                        <h5 class="text-center" style="font-family: 'Rajdhani', sans-serif;">Advanced</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around align-self-auto">
                            <div class="flip-card mt-5" id="JavaScript">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front" style="background-color:#CCCC00">
                                        <h1 class="mt-2" style="font-family: 'Rajdhani', sans-serif;">JavaScript</h1>
                                        <h4 style="font-family: 'Rajdhani'">Intermediate</h4>
                                    </div>
                                    <div class="flip-card-back" style="background-color:#CCCC00	">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <h5 style="font-family: 'Orbitron', sans-serif; color:dodgerblue">Database</h5>
                        <div class="row justify-content-around align-self-auto">
                            <div class="flip-card mt-5" id="SQL">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front" style="background-color: black">
                                        <h1 class="mt-2" style="font-family: 'Rajdhani', sans-serif;">SQL</h1>
                                        <h4 style="font-family: 'Rajdhani'">Intermediate</h4>
                                    </div>
                                    <div class="flip-card-back" style="background-color:black	">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="card text-center bg-dark">
                    <div class="card-title"  > 
                        <h1 style="font-family: 'Rajdhani', sans-serif; font-size:75px; color:forestgreen">Projects</h1>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="card m-3">
                                <div class="card-title text-center">
                                    <h1 style="font-family: 'Orbitron', sans-serif">BlackJack</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>  
            
        </div>
    </div>  
</section>  

<script>
    $("#Java").click(function () {
        $(this).toggleClass("flipped");
    });
    $("#CSharp").click(function () {
        $(this).toggleClass("flipped");
    });
    $("#Python").click(function () {
        $(this).toggleClass("flipped");
    });
    $("#HTML").click(function () {
        $(this).toggleClass("flipped");
    });
    $("#CSS").click(function () {
        $(this).toggleClass("flipped");
    });
    $("#JavaScript").click(function () {
        $(this).toggleClass("flipped");
    });
    $("#SQL").click(function () {
        $(this).toggleClass("flipped");
    });

</script>
